# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/lib*
# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
.idea/*
*~
composer.phar
