{% extends "MainAdminBundle::layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}

<div class="col-sm-12 col-md-12">
    <h1 class="page-header">Dashboard</h1>
</div>

{% endblock %}