<fieldset>
    <h4>Additional options</h4>
    <div class="form-group">
        <label class="checkbox-inline">
            <input  type="checkbox"
                    class="checkbox"
                    name="checkbox-inline"
                    ng-model="widget.realTime">
            <span>RealTime</span>
        </label>
        <label class="checkbox-inline">
            <input  type="checkbox"
                    class="checkbox"
                    name="checkbox-inline"
                    ng-model="widget.private">
            <span>Private</span>
        </label>
    </div>
</fieldset>