{% extends "MainAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts

    '@MainAdminBundle/Resources/public/js/Controlers/editWidgetControler.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <div class="row">
        <div id="profile" data-profile="{{ app.request.get('id') }}"></div>
        <div class="col-sm-12 col-md-12">
            <h1 class="page-header">New widget</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <div ng-controller="EditWidgetCtrl" class="ng-cloak">
                <form class="form-horizontal" name="form">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" ng-model="widget.title" id="title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <div class="btn-group" ng-model="button.checkbox" bs-checkbox-group>
                            <label class="btn btn-default"><input ng-model="widget.realTime" type="checkbox" value="left"> Real Time</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button"
                                class="btn btn-default"
                                ng-model="widget.source"
                                ng-options="source.key as source.value for source in sources"
                                placeholder="Report source"
                                bs-select>
                        </button>
                        <button type="button"
                                class="btn btn-default"
                                ng-model="widget.type"
                                ng-options="type.key as type.value for type in types"
                                placeholder="Report type"
                                bs-select>
                        </button>
                    </div>
                    {# API #}
                    <div ng-show="widget.source==1">
                        <div class="input-group">
                            <span class="input-group-btn">
                               <button class="btn btn-default" ng-click="getApi()" type="button">Get</button>
                            </span>
                            <input type="text" class="form-control" ng-model="apiAddress" id="api" placeholder="Api source">
                        </div>
                        <div class="space-10"></div>
                        <label for="api-source">Source</label>
                        <textarea id="api-source" class="api-textarea" ng-model="apiSource" disabled></textarea>
                    </div>

                    {# DB #}
                    <button type="button"
                            ng-show="widget.source==2"
                            class="btn btn-default"
                            ng-model="db"
                            ng-options="db.key as db.value for db in dbs"
                            placeholder="Source"
                            bs-select>
                    </button>
                    <div ng-show="db && widget.source=='SQL'">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </div>

                    <div class="space-10"></div>
                    <div class="form-group pull-right">
                        <button class="btn btn-default">Render graph</button>
                        <button class="btn btn-default">Save template</button>
                        <button class="btn btn-danger" ng-click="deleteWidget(widget.id)">Delete</button>
                        <button class="btn btn-success" ng-click="saveWidget()" ng-disabled="form.$invalid">Save</button>
                    </div>
                </form>
                {#<nvd3 options='options' data='data'></nvd3>#}

            </div>
        </div>
        <div class="col-sm-5 col-md-5">
            {# OTHER INPUTS #}
        </div>
    </div>

{% endblock %}