<div class="space-20"></div>
<div class="row">
    <div class="col-md-12 ">
        <div class="space-20"></div>
        <div class="footer pull-right">
            <button class="btn btn-success"
                    ng-click="saveWidget()"
                    ng-disabled="form.$invalid">Save
            </button>
            <button class="btn btn-default">Render graph</button>
            <button class="btn btn-default">Save template</button>
        </div>
    </div>
</div>
