<fieldset>
    <section ng-show="enabledCharts">
        <h4>Code</h4>
        <div class="form-group">
            <label class="textarea">
                <textarea ng-model="widget.code.text" disabled rows="15" class="form-control"></textarea>
            </label>
            <div class="note">
                View cannot be modified.
            </div>
        </div>
    </section>
</fieldset>