{% extends "MainAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@MainAdminBundle/Resources/public/js/Services/WidgetService.js'
    '@MainAdminBundle/Resources/public/js/Controlers/newWidgetControler.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1 class="page-header">New widget</h1>
        </div>
    </div>
    <div class="row ng-cloak" ng-controller="NewWidgetCtrl">
        <form class="form-horizontal smart-form" name="form">
            <div class="col-sm-7 col-md-7">
                <fieldset>
                    <section>
                        <h4>Title</h4>
                        <label class="input">
                            <input ng-model="widget.title" id="title" placeholder="Title" class="input-lg" required type="text" maxlength="100">
                        </label>
                    </section>
                    <section>
                        <h4>Report source</h4>
                        <label class="select">
                            <select ng-model="widget.source" required class="input-lg" >
                                <option value="1">API</option>
                                <option value="2">Database</option>
                            </select> <i></i> </label>
                    </section>

                    {# API #}
                    <div ng-if="widget.source==1">
                        <section>
                            <h4>API source</h4>
                            <label class="input">
                                <input ng-model="apiAddress" id="api" placeholder="API source" class="input-lg" type="text" maxlength="100">
                                <span ng-click="getApi()" class="button pull-left">Get</span>
                            </label>
                        </section>
                        <div class="space-40"></div>
                        <hr>
                        <section ng-show="widget.code.length">
                            <div class="space-20"></div>
                            <h3>Amount of row: <b><span ng-bind="widget.code.length"></span></b></h3>
                            <div class="alert alert-danger" ng-show="widget.code.length>1000">Alert! Big file. Operation can take some time</div>
                        </section>
                        <section ng-if="widget.chartType==0">
                            <div ng-bind-html="widget.code.table" style="overflow: auto; height: 500px"></div>
                        </section>
                        <div ng-if="widget.chartType==1">
                            <div class="table-responsive">
                                <div class="gridStyle" ng-grid="gridOptions"></div>
                            </div>
                        </div>
                        <div ng-if="widget.chartType==2">
                            <nvd3 options="options" data="data"></nvd3>
                        </div>
                    </div>
                    {# DB #}
                    <div ng-show="widget.source==2">
                        <section>
                            <h4>Database address</h4>
                            <label class="select">
                                <select ng-model="widget.database" ng-options="db.id as db.address for db in dbs">
                                </select> <i></i>
                            </label>
                        </section>
                        <section>
                            <h4>Query type</h4>
                            <label class="select">
                                <select ng-model="widget.queryType">
                                    <option value="1">Procedure</option>
                                    <option value="2">Table</option>
                                    <option value="3">Query</option>
                                </select> <i></i>
                            </label>
                        </section>
                        <section ng-if="widget.queryType==2">
                            <h4>Available tables</h4>
                            <label class="select">
                                <select ng-model="widget.database.tables" ng-options="table.id as table.name for table in tables">
                                </select> <i></i>
                            </label>
                        </section>
                    </div>

                    {#<div ng-show="db && widget.source=='SQL'">#}
                        {#<i class="fa fa-spinner fa-spin fa-2x"></i>#}
                    {#</div>#}

                    <div class="space-10"></div>
                    <footer>
                        <button class="btn btn-success" ng-click="saveWidget()" ng-disabled="form.$invalid">Save</button>
                        <button class="btn btn-default">Render graph</button>
                        <button class="btn btn-default">Save template</button>
                    </footer>
                </fieldset>
            </div>
            <div class="col-sm-5 col-md-5">
                <fieldset>
                    <section>
                        <h4>Additional options</h4>
                        <div class="inline-group">
                            <label class="checkbox">
                                <input
                                        type="checkbox"
                                        name="checkbox-inline"
                                        ng-model="widget.realTime">
                                <i></i>RealTime
                            </label>
                            <label class="checkbox">
                                <input
                                        type="checkbox"
                                        name="checkbox-inline"
                                        ng-model="widget.private">
                                <i></i>Private
                            </label>
                        </div>
                    </section>
                </fieldset>
                <fieldset>
                    <section>
                    <h4>Report type</h4>
                        <div class="inline-group">
                            <label class="radio" ng-class="!enabledCharts?'state-disabled':'' ">
                                <input type="radio" ng-disabled="!enabledCharts" ng-model="widget.chartType" value="0" name="radio-inline" checked>
                                <i></i>Static table</label>
                            <label class="radio" ng-class="!enabledCharts?'state-disabled':'' ">
                                <input type="radio" ng-disabled="!enabledCharts" ng-model="widget.chartType" ng-click="getCode()" value="1" name="radio-inline">
                                <i></i>Advanced table</label>
                            <label class="radio" ng-class="!enabledCharts?'state-disabled':'' ">
                                <input type="radio" ng-disabled="!enabledCharts" ng-model="widget.chartType" value="2" name="radio-inline">
                                <i></i>Plot</label>
                            <label class="radio" ng-class="!enabledCharts?'state-disabled':'' ">
                                <input type="radio" ng-disabled="!enabledCharts" ng-model="widget.chartType" value="3" name="radio-inline">
                                <i></i>Gauss</label>
                            <label class="radio" ng-class="!enabledCharts?'state-disabled':'' ">
                                <input type="radio" ng-disabled="!enabledCharts" ng-model="widget.chartType" value="4" name="radio-inline">
                                <i></i>Linear</label>
                            <label class="radio" ng-class="!enabledCharts?'state-disabled':'' ">
                                <input type="radio" ng-disabled="!enabledCharts" ng-model="widget.chartType" value="5" name="radio-inline">
                                <i></i>Bar</label>
                        </div>
                    </section>
                </fieldset>
                <fieldset>
                    <section ng-show="widget.code.length">
                        <h4>Code</h4>
                        <label class="textarea">
                            <textarea ng-model="widget.code.text" disabled rows="15" class="custom-scroll"></textarea>
                            {#<textarea ng-model="widget.code.cleanText" ng-hide="widget" disabled></textarea>#}
                        </label>
                        <div class="note">
                            View cannot be modified.
                        </div>
                    </section>
                </fieldset>
            </div>
        </form>
    </div>

{% endblock %}