{% extends "MainAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@MainAdminBundle/Resources/public/js/Services/WidgetService.js'
    '@MainAdminBundle/Resources/public/js/Controlers/newWidgetControler.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1 class="page-header">New widget</h1>
    </div>
</div>
<div class="row ng-cloak" ng-controller="NewWidgetCtrl">
<form name="form">
    <div class="col-sm-7 col-md-7">
        <div class="jarviswidget jarviswidget-sortable"
             data-widget-colorbutton="false"
             data-widget-editbutton="false"
             role="widget">
            {# HEADER #}
            {% include 'MainAdminBundle:Widgets:header_definition.html.twig' %}
            <div role="content" style="display: block;">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">

                    <fieldset>
                        {# TITLE #}
                        {% include 'MainAdminBundle:Widgets:title.html.twig' %}
                        {# SOURCE #}
                        {% include 'MainAdminBundle:Widgets:report_source.html.twig' %}
                        {# API #}
                        {% include 'MainAdminBundle:Widgets:api_source.html.twig' %}
                        {# DB #}
                        {% include 'MainAdminBundle:Widgets:db_source.html.twig' %}
                        {# PROCEDURES #}
                        {% include 'MainAdminBundle:Widgets:procedures.html.twig' %}
                        {# TABLES #}
                        {% include 'MainAdminBundle:Widgets:tables.html.twig' %}
                        {# VIEWS #}
                        {% include 'MainAdminBundle:Widgets:views.html.twig' %}
                        {# FOOTER #}
                        {% include 'MainAdminBundle:Widgets:footer_definition.html.twig' %}
                    </fieldset>

                </div>
            </div>
        </div>  {# WIDGET END #}

        <div class="jarviswidget jarviswidget-sortable"
             data-widget-colorbutton="false"
             data-widget-editbutton="false"
             ng-show="enabledCharts"
             role="widget">

            {# HEADER #}
            {% include 'MainAdminBundle:Widgets:header_charts.html.twig' %}
            <div role="content" style="display: block;">
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <fieldset>
                        {# TABLES AND CHARTS #}
                        <section ng-show="widget.code.length">
                            <div class="space-20"></div>
                            <h3>Amount of row: <b><span ng-bind="widget.code.length"></span></b></h3>
                            <div class="alert alert-danger" ng-show="widget.code.length>1000">
                                Alert! Big file. Operation can take some time
                            </div>
                        </section>
                        <section ng-if="widget.chartType==0">
                            <div ng-bind-html="widget.code.table" style="overflow: auto; height: 500px"></div>
                        </section>
                        <div ng-if="widget.chartType==1">
                            <div class="table-responsive">
                                <div class="gridStyle" ng-grid="gridOptions"></div>
                            </div>
                        </div>
                        <div ng-if="widget.chartType==2">
                            <nvd3 options="options" data="data"></nvd3>
                        </div>

                        {#<div ng-show="db && widget.source=='SQL'">#}
                        {#<i class="fa fa-spinner fa-spin fa-2x"></i>#}
                        {#</div>#}

                    </fieldset>
                </div>
            </div>
        </div>  {# WIDGET END #}
    </div>
    <div class="col-sm-5 col-md-5">
        {% include 'MainAdminBundle:Widgets:additional_options.html.twig' %}
        {% include 'MainAdminBundle:Widgets:report_type.html.twig' %}
        {% include 'MainAdminBundle:Widgets:json_code.html.twig' %}
    </div>
</form>
</div>

{% endblock %}