<form name="form">
<section ng-show="widget.source==3 && widget.queryType==1">
    <label for="widgetFunctions">Available procedures</label>
    <select ng-model="widget.functions"
            class="form-control input-lg"
            id="widgetFunctions"
            ng-options="function.id as (function.name + ' (' + function.size + ')') for function in functions"
            >
    </select>
    <div class="space-20"></div>
    <div ng-repeat="function in functions[widget.functions]">
        <div ng-show="function.label">
            <div class="form-group">
                <label class="control-label col-md-2  space-10" for="">
                    <span ng-bind="function.label"></span>
                </label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <input ng-model="function.value"
                                   class="form-control space-10"
                                   placeholder="{{ '{{ function.type }}' }}"
                                   required
                                   {#type=""#}
                                    >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>