<section>
    <div class="form-group">
        <label for="widgetSource">Report source</label>
        <select id="widgetSource"
                ng-model="widget.source"
                required
                class="form-control input-lg">
            <option value="1">API url</option>
            <option value="2">Definied API</option>
            <option value="3">Database - SQL</option>
        </select>
    </div>
</section>