<section>
    <div class="form-group">
        <label for="title">Title</label>
        <input ng-model="widget.title"
               id="title"
               placeholder="Title"
               class="form-control input-lg"
               required
               type="text"
               maxlength="100">
    </div>
</section>